.about-container {
    background-color: rgb(240,242,243);
   
    min-height:calc(100vh - 350px);
    display: flex;
    justify-content: space-between;
    
    .about__content {
        flex:2;
        .about__title {
            font-size:40px;
            padding:20px 0;
        }
        .about__paragraph {
            max-width:80%;
            line-height: 1.6;
            font-size:20px;
            padding:10px 0;
        }
        #line-through {
            text-decoration: line-through !important;
        }
    }
    .image {
        filter: grayscale(100%);
        max-height:800px;
      
    }

    @include media($small){
        flex-direction: column;
    }
}

.about {
    background-color: rgb(240,242,243);
}

