.contact-form {
    padding-top:25px;
    .form-field {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
    }
    input,textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }

    input:focus,textarea:focus {
        border: 3px solid #555;
    }
    @include media($small){

    }

    @include media($middle){
        margin:0 auto;
        max-width:90%;
        width:75%;
    }
}